<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.orm.mybatis.mapper.UserMapper">

    <sql id="FIELDS">
        id, username, password, create_time
    </sql>

    <insert id="insert" parameterType="com.open.orm.mybatis.dataobject.UserDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            username, password, create_time
        ) VALUES (
                     #{username}, #{password}, #{createTime}
                 )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into
            users (username, password,create_time)
        values
        <foreach collection="list" item="orderDO" index="index" separator=",">
            (#{orderDO.username}, #{orderDO.password}, #{orderDO.createTime})
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.open.orm.mybatis.dataobject.UserDO">
        UPDATE users
        <set>
            <if test="username != null">
                , username = #{username}
            </if>
            <if test="password != null">
                , password = #{password}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="batchUpdateById" parameterType="java.util.List">
        <foreach collection="list" item="orderDO" index="index" open="" close="" separator=";">
            update users
            <set >
                <if test="orderDO.username != null" >
                    username = #{orderDO.username},
                </if>
                <if test="orderDO.username != null" >
                    password = #{orderDO.password},
                </if>
            </set>
            where id = #{orderDO.id,jdbcType=INT}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM users
        WHERE id = #{id}
    </delete>

    <select id="selectById" parameterType="Integer" resultType="com.open.orm.mybatis.dataobject.UserDO">
        SELECT
        <include refid="FIELDS" />
        FROM users
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" parameterType="String" resultType="com.open.orm.mybatis.dataobject.UserDO">
        SELECT
        <include refid="FIELDS" />
        FROM users
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="selectByIds" resultType="com.open.orm.mybatis.dataobject.UserDO">
        SELECT
        <include refid="FIELDS" />
        FROM users
        WHERE id IN
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>

</mapper>